.App {
  text-align: center;
  margin-top: 15px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(104, 18, 18);
  text-shadow: -1px 1px 2px #ffffff, -2px 2px 4px #ff4d8f;
}

.button {
  background: linear-gradient(to bottom, #ff80b0, #ff4d8f);
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

h1 {
  display: flex;
  flex-direction: column;
  color: rgb(104, 18, 18); /* Color rosa */
  text-shadow: -1px 1px 2px #ffffff, -2px 2px 4px #ff4d8f; /* Sombras */
}

.pagination {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  width: 200px;
  margin: 10px auto; /* Centra verticalmente */
}

.number {
  margin-right: 10px; /* Espacio entre los números */
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, #ff80b0, #ff4d8f);
  border: none;
  border-radius: 15px;
}

.number a {
  text-decoration: none;
}

.number.active {
  background: #ff80b0; /* Color de fondo para la página actual */
  color: white;
}

.App-link {
  color: #61dafb;
}
